In [9]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor

In [10]:
train = pd.read_csv('http://bit.ly/kaggletrain')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
y = train.Survived
logreg = LogisticRegression()
logreg.fit(X, y)

NameError: name 'X' is not defined

In [ ]:
test = pd.read_csv('http://bit.ly/kaggletest')
test.head()

In [ ]:
X_new = test.loc[:, feature_cols]

In [ ]:
new_pred_class = logreg.predict(X_new)

In [ ]:
pd.DataFrame({'PassengerId':test.PassengerId, 'Survived':new_pred_class}).set_index('PassengerId').head()

In [ ]:
pd.DataFrame({'PassengerId':test.PassengerId, 'Survived':new_pred_class}).set_index('PassengerId').to_csv('sub.csv')

In [ ]:
avgAge = train.Age.mean()
train.Age = train.Age.fillna(value = avgAge)
train.describe()

In [ ]:
numeric_variables = list(train.dtypes[train.dtypes!="object"].index)
train[numeric_variables].head()

In [ ]:
model = RandomForestRegressor(n_estimators=100, oob_score=True, random_state = 42)
model.fit(train[numeric_variables],y)